@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

*{
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

html {
    scroll-behavior: smooth;
    
}

header {
    max-width: 100%;
    background-color: white;
}

@font-face {
    font-family: 'Geometria-Medium';
    src: url('/assets/fonts/Geometria-Medium.woff2') format('woff2'),
        url('/assets/fonts/Geometria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('/assets/fonts/Geometria.woff') format('woff'), url('/assets/fonts/Geometria.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Estampa Script';
    src: url('/assets/fonts/EstampaScript-Regular.woff2') format('woff2'), url('/assets/fonts/EstampaScript-Regular.woff') format('woff');      
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    }
    


@media screen and (min-width: 600px) {
    .burger-menu {
        display: none;

    }
    

    
}

@media screen and (max-width: 600px)  {
    .burger-menu {
        display: block;
        position: absolute;
        top: 0%;
        right: 0%;
        margin-right: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
    .burger-menu > .burger-style{
        font-size: calc(14px + 1em);
        color: white;
    }

    .set-black {
        color: black;
    }
    
    
}



@media screen and (min-width: 600px) {
    header > .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        padding-top: 1.2em;
        margin-left: 3em;
        margin-right: 3em;
    }

    
    .link {
        text-align: center;
        margin-left: calc(5px + 1vw);
        padding: .5em;
        border: 2px solid white;
    }

    .link:hover {
        transition: .5s;
        border: 2px solid black;
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
    
}
@media screen and (max-width: 600px) {
    header > .navbar {
        padding-top: 1em;
        margin-left: 2em;
        display: none ;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1em;
    }
    
}




@media screen and (min-width: 600px) {
    header > .navbar > .link > a{
        color: black;
        text-decoration: none;
        font-size: calc(10px + .2vw);
        line-height: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        
    }
    
}

@media screen and (max-width: 600px){
    header > .navbar > .link > a{
        color: black;
        text-decoration: none;
        font-size: calc(10px + .2vw);
        line-height: 3em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin-top: 200px;
        
    }
    
}


    
@media screen and (min-width: 600px) {
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    
        background-image: url('assets/background-image2.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: rgba(255, 208, 0, 0.199);
        background-blend-mode: lighten;
    
    }

    .text-container {
        width: 50vw;
        padding-top: 7em;
        margin-left: calc(12px + 1vw);
        margin-right: calc(12px + 1vw);
        text-align: center;
    }
    
    section > .text-container > .title{
        font-size: calc(50px + 1vw);
        color: white;
        letter-spacing: 4px;
        font-family: 'Estampa Script';
    
    }
    
    section  > .text-container >  p{
        margin-top: 1em;
        color: #cfbeb4;
        font-size: calc(5px + 1vw);
        letter-spacing: 1px;
        font-weight: 400;
      
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
    
    section h4 {
        text-align: center;
        margin-top: 3em;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        line-height: 2em;
        font-size: calc(5px + 1vw);
        color: white;
    }
    .content {
    
        width: 69vw;
        max-height: fit-content;
        margin: auto;
        margin-top: 2em;
    }
    .content > h1 {
        color: #2F2E2E;
        font-family: 'Geometria-Medium', sans-serif;
        font-size: calc(15px + 1vw);
        margin-bottom: 10px;
    }
    
    .content p {
        color: #2F2E2E;
        font-family: 'Geometria';
        font-size: calc(10px + .5vw);
        line-height: 1.5em;
    }
    
    
}

@media screen and (max-width: 600px) {
    section {
        text-align: center;
        height: 500px;
        
        background-image: url('assets/background-image2.jpg');
        background-attachment: scroll;
        background-position: center;
        background-size: cover;
    }

    .text-container {
        width: calc(300px + 1vw);
        padding-top: 7em;
        margin: auto;
     
        text-align: center;
    }

    
    
    section > .text-container > .title{
        font-size: calc(30px + 1vw);
        color: rgba(255, 255, 255, 0.856);
        font-family: 'Estampa Script';

    
    }
    
    section  > .text-container >  p{
        margin-top: 1em;
        color: rgba(255, 255, 255, 0.856);
        font-size: calc(5px + 1vw);
        letter-spacing: 1px;
        font-weight: 400;
      
        text-transform: uppercase;
        font-family: 'Geometria';
    }
    
    section h4 {
        text-align: center;
        margin-top: 3em;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: 'Geometria-Medium', sans-serif;
        line-height: 2em;
        font-weight: 200;
        font-size: calc(5px + 1vw);
        color: rgba(255, 255, 255, 0.856);
    }

    .content {
    
        width: 69vw;
        max-height: fit-content;
        margin: auto;
        margin-top: 2em;
    }
    .content > h1 {
        color: #2F2E2E;
        font-family: 'Geometria-Medium', sans-serif;
        font-size: calc(15px + 1vw);
        margin-bottom: 10px;
    }
    
    .content p {
        color: #2F2E2E;
        font-family: 'Geometria';
        font-size: calc(10px + .5vw);
        line-height: 1.5em;
    }
    
    
}



@media screen and (min-width: 600px) {
    .flex-item {
        margin-top: 2em;
        margin-left: 5em;
        margin-right: 5em;
        display: flex;
    }
    .flex-item img {
        max-width: auto;
        height: 30vw;
    }

    .text-content {
        margin-top: 2em;
        margin-left: 2em;
    }
    
    
}

@media screen and (max-width: 600px) {
    .flex-item {
        margin-top: 2em;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
    }
    .flex-item img {
        width: auto;
        height: auto;
    }

   
    
    
}





.flex-item > .text-content > h1 {
    margin-top: 1em;
    font-size: calc(15px + 1vw);
    color: #2F2E2E;
    font-family: 'Geometria-Medium', sans-serif;

}

.text-content > span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #2F2E2E;
    font-size: 14px;
}

.text-content p {
    margin-top: 2em;
    max-width: 400px;
    max-height: calc(400px +1vh);
}

@media screen and (min-width: 600px) {
    .gallery {
        margin-bottom: 2em;
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 5em;
        display: grid;
        gap: 1rem;
    
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-auto-rows: 240px;
    }

    .card-tall {
        grid-row: span 2 / auto;
    }
    
    .card-wide {
        grid-column: span 2 / auto;
    }
    
}

@media screen and (max-width: 600px) {
    .gallery {
        margin-bottom: 2em;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 5em;
        display: grid;
        gap: .5em;
        grid-template-columns: 1fr;
        grid-auto-rows: 240px;
    }
    
}

.card {
    text-align: center;
    transition: .4s all ease-in-out;
    
    
    
}

.card:hover {
    transform: scale(1.05);
    filter: grayscale(100);
}

.card:active {
    transform: scale(1.05);
    filter: grayscale(100);
}



.card img {

    
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


@media screen and (min-width: 600px) {
    .before-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-attachment: fixed;
        background-image: url('assets/couple_facing_sunset.jpg');
        background-position: center;
        background-size: cover;
    }
    
    .before-contact > h1 {
        font-weight: 300;
        font-family: Kottario;
        color: #73663b;
        font-size: calc(30px + 1vw);
    }
    
    .before-contact > p > a {
        color: #73663b;
        text-decoration: none;
    }
    
    .before-contact > p {
        font-size: calc(10px + 1vw);
        margin-top: 1em;
        font-family: 'Geometria';
    }
}

@media screen and (max-width: 600px) {
    .before-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-image: url('assets/couple_facing_sunset.jpg');
        height: 500px;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
    }
    
    .before-contact > h1 {
        
        font-weight: 300;
        font-family: 'Geometria';
        color: #73663b;
        font-size: calc(15px + 1vw);
    }
    
    .before-contact > p > a {
        color: #73663b;
        text-decoration: none;
    }
    
    .before-contact > p {
        font-size: calc(10px + 1vw);
        margin-top: 1em;
        font-family: 'Geometria';
    }
    
}

@media screen and (min-width: 600px) {
    footer {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 600px) {
    footer {
        display: flex;
        flex-direction: column;
    }
    
}




@media screen and (min-width: 600px) {
    .contact h1 {
        font-family: 'Geometria-Medium', sans-serif;
        margin-top: 2em;
        margin-left: 3em;
    }
    
    .contact > form {
        margin-top: 1em;
        margin-left: 6em;
        margin-bottom: 3em;
    }
}




@media screen and (max-width: 600px) {
    .contact > h1 {
        font-family: 'Geometria-Medium', sans-serif;
        margin-top: 2em;
        margin-left: 1em;
    }

    .contact > form {
        margin-left: 2em;
        margin-top: 1em;
        margin-bottom: 3em;
        margin-right: 2em;
    }
}



.contact > form > input {
    font-family: 'Geometria';
    background-color: #ebe6e1;
    margin-top: 1em;
    outline: none;
    border: none;
    padding: 1em;
    font-size: calc(10px + 1vh);
    border-radius: 10px;
}

.contact > form > textarea {
    margin-top: 1em;
    border: none;
    border-radius: 10px;
    outline: none;
    font-family: 'Geometria';
    background-color: #ebe6e1;
    padding: 2em;
    max-width: calc(200px + 1vw);
    min-width: 200px;
    max-height: 15vh;
}

@media screen and (min-width: 600px) {
    .contact > form > label {
        font-family: 'Geometria';
        font-size: calc(10px + 1vh);
    }
    
}

@media screen and (max-width: 600px) {
    .contact > form > label {
        display: none;
    }
    
    
}


.submit-button {
    border: none;
    border-radius: 10px;
    font-family: 'Geometria-Medium', sans-serif;
    font-size: calc(10px + .5vw);
    background-color: #ebe6e1;
    padding: 1em;
    margin-top: 1em;
    transition: .5s;
}

.submit-button:hover {
    transform: scale(1.1);
    background-color: tomato;
    color: white;
}

.submit-button:active {
    transform: scale(1.1);
    background-color: tomato;
    color: white;
}

@media screen and (min-width: 600px) {
    .newsletter {
        margin-right: 10em;
        margin-left: 2em;
    }

    .newsletter > h1{
        font-family: 'Geometria-Medium', sans-serif;
        margin-top: 2em;
        letter-spacing: 1px;
        
    }

    .newsletter > form > label {
        font-family: 'Geometria';
        font-size: calc(8px + 1vw);
    }

    .newsletter > form > input {
        margin-top: 2em;
        background-color: #ebe6e1;
        border: none;
        outline: none;
        padding: 1em;
        border-radius: 10px;
        font-family: 'Geometria';
        font-size: calc(8px + 1vw);
    }

    .newsletter > p {
        color: #c26334;
        margin-top: 1em;
        font-family: 'Geometria';
        max-width: 40vw;
        line-height: 2em;
    }


    
}

@media screen and (max-width: 600px) {
    .newsletter {
        margin-right: 2em;
        margin-left: 2em;
        margin-bottom: 3em;
    }

    .newsletter > h1{
        font-family: 'Geometria-Medium', sans-serif;
        margin-top: 2em;
        letter-spacing: 1px;
        
    }

    .newsletter > form > label {
        font-family: 'Geometria';
        font-size: calc(8px + 1vw);
    }

    .newsletter > form > input {
        margin-top: 2em;
        background-color: #ebe6e1;
        border: none;
        outline: none;
        padding: 1em;
        border-radius: 10px;
        font-family: 'Geometria';
        font-size: calc(8px + 1vw);
    }

    .newsletter > p {
        color: #c26334;
        margin-top: 1em;
        font-family: 'Geometria';
        font-size: 15px;
        line-height: 2em;
    }

    
    
}



.space-left {
    margin-left: 1em;
}


#subfooter > .group{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #bfbab3;
    height: fit-content;
    text-align: center;
    padding-bottom: 1em;
}

#arrow > i {
    font-size: 50px;
}

.group > a {
    text-decoration: none;
    font-family: 'Geometria';
    color: black;
    font-size: calc(15px + 1vw);
}

.group > a:hover ~ #arrow{
    background-color: violet;
}